@media (max-width: 1200px) {
	.carousel {
		&__inner {
			width: 90%;
			img {
				width: 100%;
			}
		}
		.prev {
			left: -15px;
		}
		.next {
			right: -15px;
		}
	}
}
@media (max-width: 991px) {
	.header {
		flex-wrap: wrap;
		justify-content: space-around;
		&__logo {
			display: block;
			margin: 0 20px 20px 20px;
		}
		&__official {
			margin: 0 20px 20px 20px;
		}
		&__contacts {
			margin: 0 20px 20px 20px;
		}
	}
	.promo {
		padding-left: 25px;
		padding-right: 25px;
	}
	.advent {
		padding: 70px 20px 78px 20px;
		&__wrapper {
			margin-top: 30px;
		}
		&__block {
			max-width: 30%;
		}
	}
	.consult {
		padding: 50px 20px;
	}
	.carousel {
		.prev,
		.next {
			display: none;
		}
	}
	.catalog {
		padding-left: 15px;
		padding-right: 15px;
		&__tab {
			width: 28%;
		}
		&__content {
			justify-content: space-around;
		}
		&-item {
			margin: 0 20px 20px 20px;
		}
	}
	.feed {
		padding: 0 20px;
		&__content {
			padding-right: 0;
		}
	}
}
@media (max-width: 767px) {
	.header {
		justify-content: space-between;
		&__block {
			&:last-child {
				margin-left: auto;
			}
		}
	}
	.promo {
		padding: 21px 20px 50px 20px;
		&__wrapper {
			align-items: flex-end;
		}
		&__header {
			font-size: 36px;
			line-height: 36px;
		}
		&__subheader {
			font-size: 20px;
			line-height: 20px;
		}
		&__icons {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
	}
	.advent {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__block {
			width: 80%;
			max-width: none;
			margin-bottom: 20px;
			img {
				margin-bottom: 10px;
			}
		}
	}
	.title_left {
		font-size: 28px;
	}
	.catalog {
		&__tab {
			transition: 0s all;
			transition: width 0.5s;
			width: 17%;
			span {
				display: none;
				transform: translateX(5%);
			}
			div {
				.points {
					display: inline;
				}
			}

			&_active {
				width: 60%;
				span {
					display: block;
					text-align: center;
				}
			}
		}
	}
	.title {
		font-size: 25px;
	}
	.feed {
		&__item {
			flex-direction: column;
			align-items: center;
		}
		&__content {
			margin: 20px 0;
			text-align: center;
		}
	}
}
@media (max-width: 575px) {
	.header {
		flex-direction: column;
		align-items: center;
		&__block {
			&:last-child {
				margin: 0;
			}
		}
		&__logo {
			width: 220px;
		}
		&__contacts {
			display: block;
			text-align: center;
		}
	}
	.promo {
		&__wrapper {
			margin-top: 20px;
			align-items: center;
		}
		&__header {
			font-size: 23px;
			text-align: center;
		}
		&__subheader {
			font-size: 18px;
			text-align: center;
		}
		&__link {
			display: block;
			text-align: center;
		}
		&__icons {
			margin-top: 20px;
			justify-content: center;
		}
		&__icon {
			font-size: 12px;
		}
	}
	.button_main {
		width: 240px;
		height: 40px;
		font-size: 15px;
		margin-top: 35px;
	}
	.advent {
		&__header {
			font-size: 23px;
		}
		&__block {
			width: 100%;
		}
		&__descr {
			font-size: 16px;
		}
	}
	.consult {
		min-height: 0;
		padding: 60px 15px 90px 15px;
		&__descr {
			font-size: 16px;
			margin-top: 25px;
		}
	}
	.title_left {
		font-size: 23px;
		line-height: 35px;
	}
	.feed-form {
		width: 100%;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer {
		&__info {
			max-width: 100vw;
			padding-left: 20px;
			padding-right: 20px;
		}
		&__address {
			font-size: 18px;
		}
	}
}
