
@import 'base/variables';
@import 'blocks/modal';
@import 'blocks/footer';
@import 'blocks/feed';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/carousel';
@import 'blocks/buttons';
@import 'blocks/advent';
@import 'base/titles';
@import 'blocks/consult';
@import 'blocks/_forms';
@import 'blocks/catalog';
@import 'base/media';



* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}